In [1]:
import numpy as np
import pandas as bd

df = bd.read_csv("vgsales_11.csv")

## Загрузка файла в переменную т.е в кэш память
Этот код - `df = bd.read_csv("vgsales_11.csv")` сохраняет в переменную df файл в выбранном пути, который находится в скобках `read_csv`

## Простой вывод
Теперь просто прописа переменную `df` я могу вывести всю таблицу в выбранном файле, насколько хватит места в блоке кода для вывода.

In [2]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,13292,E.X. Troopers,PS3,2012.0,Shooter,Capcom,0.00,0.00,0.05,0.00,0.05
1,15041,Steins;Gate: Senkei Kousoku no Phonogram,X360,2013.0,Adventure,5pb,0.00,0.00,0.02,0.00,0.02
2,15717,This War of Mine,PS4,2016.0,Action,Deep Silver,0.00,0.01,0.00,0.00,0.02
3,14047,Kiniro no Corda 2 f,PSP,2009.0,Role-Playing,Tecmo Koei,0.00,0.00,0.04,0.00,0.04
4,5127,Turok: Rage Wars,N64,1999.0,Shooter,Acclaim Entertainment,0.30,0.06,0.00,0.00,0.37
...,...,...,...,...,...,...,...,...,...,...,...
548,12286,My Pet Chimp,DS,2010.0,Simulation,505 Games,0.06,0.00,0.00,0.00,0.06
549,10521,God Eater 2: Rage Burst,PS4,2015.0,Role-Playing,Namco Bandai Games,0.00,0.01,0.09,0.00,0.10
550,4981,Triple Play 97,PS,1996.0,Sports,Electronic Arts Victor,0.21,0.15,0.00,0.03,0.38
551,1157,Dragon Quest V: Hand of the Heavenly Bride,DS,2008.0,Role-Playing,Square Enix,0.19,0.02,1.36,0.02,1.60
552,10192,Tales of Phantasia (PS1 & PSP Versions),PSP,2006.0,Role-Playing,Namco Bandai Games,0.00,0.00,0.11,0.00,0.11

## Более сложный вывод
Кодом `df.head(10)` я выведу первые 10 строк в таблице, а `df.tail(10)` последнии 10 строк в таблице

In [3]:
df.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,13292,E.X. Troopers,PS3,2012.0,Shooter,Capcom,0.00,0.00,0.05,0.00,0.05
1,15041,Steins;Gate: Senkei Kousoku no Phonogram,X360,2013.0,Adventure,5pb,0.00,0.00,0.02,0.00,0.02
2,15717,This War of Mine,PS4,2016.0,Action,Deep Silver,0.00,0.01,0.00,0.00,0.02
3,14047,Kiniro no Corda 2 f,PSP,2009.0,Role-Playing,Tecmo Koei,0.00,0.00,0.04,0.00,0.04
4,5127,Turok: Rage Wars,N64,1999.0,Shooter,Acclaim Entertainment,0.30,0.06,0.00,0.00,0.37
5,11028,Spectral Force Genesis,DS,2008.0,Role-Playing,Nobilis,0.08,0.00,0.01,0.01,0.09
6,12124,Shin Lucky * Star: Moe Drill ~Tabidachi~,DS,2007.0,Action,Kadokawa Shoten,0.00,0.00,0.07,0.00,0.07
7,13190,G1 Grand Prix,3DS,2012.0,Action,Genki,0.00,0.00,0.05,0.00,0.05
8,14082,MLB 15: The Show,PSV,2015.0,Sports,Sony Computer Entertainment,0.03,0.00,0.00,0.01,0.04
9,142,Gears of War,X360,2006.0,Shooter,Microsoft Game Studios,3.54,1.90,0.07,0.60,6.11

In [4]:
df.tail(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
543,4661,Harry Potter and the Deathly Hallows - Part 1,PS3,2010.0,Action,Electronic Arts,0.13,0.21,0.00,0.08,0.42
544,14949,Jikkyou Powerful Pro Yakyuu 12 Ketteiban,GC,2005.0,Sports,Konami Digital Entertainment,0.00,0.00,0.02,0.00,0.02
545,6114,Disney's Extreme Skate Adventure,GBA,2003.0,Sports,Activision,0.20,0.08,0.00,0.01,0.28
546,9481,Sin and Punishment,N64,2000.0,Shooter,Nintendo,0.00,0.00,0.13,0.00,0.13
547,15079,Ride,X360,2015.0,Racing,Milestone S.r.l.,0.00,0.02,0.00,0.00,0.02
548,12286,My Pet Chimp,DS,2010.0,Simulation,505 Games,0.06,0.00,0.00,0.00,0.06
549,10521,God Eater 2: Rage Burst,PS4,2015.0,Role-Playing,Namco Bandai Games,0.00,0.01,0.09,0.00,0.10
550,4981,Triple Play 97,PS,1996.0,Sports,Electronic Arts Victor,0.21,0.15,0.00,0.03,0.38
551,1157,Dragon Quest V: Hand of the Heavenly Bride,DS,2008.0,Role-Playing,Square Enix,0.19,0.02,1.36,0.02,1.60
552,10192,Tales of Phantasia (PS1 & PSP Versions),PSP,2006.0,Role-Playing,Namco Bandai Games,0.00,0.00,0.11,0.00,0.11

## Комманда describe
Данная комманда `df.discribe()` выводит таблице с данными о .. данных в таблице, их минимальное, максимальное значение и так далее

In [5]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,553.000000,542.000000,553.000000,553.000000,553.000000,553.000000,553.000000
mean,8332.607595,2006.164207,0.317649,0.164177,0.078626,0.049910,0.610633
std,4836.088998,5.749288,1.347223,0.539482,0.261268,0.165574,1.928549
min,10.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4127.000000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8167.000000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.180000
75%,12586.000000,2010.000000,0.240000,0.120000,0.040000,0.030000,0.480000
max,16562.000000,2016.000000,26.930000,8.030000,3.600000,2.150000,28.310000

## Комманда shape
Данная комманда `df.shape` вывод колличество строк в таблице и колличество столбцов(т.е переменных)

In [6]:
df.shape

(553, 11)

## Схожесть с листом класса
Сама переменная df очень схожа с листом какого-то класса в языке c# и т.п. Т.е можно вызввать `df.НАЗВАНИЕ_ПЕРЕМЕННОЙ` или `df.["НАЗВАНИЕ_ПЕРЕМЕННОЙ"]` и он их выведет

In [7]:
df.Year

0      2012.0
1      2013.0
2      2016.0
3      2009.0
4      1999.0
        ...
548    2010.0
549    2015.0
550    1996.0
551    2008.0
552    2006.0
Name: Year, Length: 553, dtype: float64

In [8]:
df["Year"]

0      2012.0
1      2013.0
2      2016.0
3      2009.0
4      1999.0
        ...
548    2010.0
549    2015.0
550    1996.0
551    2008.0
552    2006.0
Name: Year, Length: 553, dtype: float64

## Удаление дубликатов
Теперь я удалю дубликаты везде, где они могли-бы быть. 
Чтобы понять, где нахоятся дубликаты, использую метод `len(df.НАЗВАНИЕ_ПЕРЕМЕННОЙ.unique())` - так я выведу колличество уникальных переменных, а так общее колличество переменных: `len(df.НАЗВАНИЕ_ПЕРЕМЕННОЙ)`

In [9]:
print("Колличество уникальных рангов: ",len(df.Rank.unique()))
print("Колличество рангов: ",len(df.Rank))

Колличество уникальных рангов:  542
Колличество рангов:  553

## Метод удаление дубликатов
Чтобы удалить дубликаты, нужна комманда `df.drop_duplicates()`

In [10]:
df = df.drop_duplicates()

In [11]:
print("Колличество уникальных рангов: ",len(df.Rank.unique()))
print("Колличество рангов: ",len(df.Rank))

Колличество уникальных рангов:  542
Колличество рангов:  542

## Удаление признака(переменной)
Чтобы удалить признак, нужно использовать `df = df.drop(columns=['НАЗВАНИЕ_ПЕРЕМЕННОЙ',''...])`

In [12]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,13292,E.X. Troopers,PS3,2012.0,Shooter,Capcom,0.00,0.00,0.05,0.00,0.05
1,15041,Steins;Gate: Senkei Kousoku no Phonogram,X360,2013.0,Adventure,5pb,0.00,0.00,0.02,0.00,0.02
2,15717,This War of Mine,PS4,2016.0,Action,Deep Silver,0.00,0.01,0.00,0.00,0.02
3,14047,Kiniro no Corda 2 f,PSP,2009.0,Role-Playing,Tecmo Koei,0.00,0.00,0.04,0.00,0.04
4,5127,Turok: Rage Wars,N64,1999.0,Shooter,Acclaim Entertainment,0.30,0.06,0.00,0.00,0.37
...,...,...,...,...,...,...,...,...,...,...,...
548,12286,My Pet Chimp,DS,2010.0,Simulation,505 Games,0.06,0.00,0.00,0.00,0.06
549,10521,God Eater 2: Rage Burst,PS4,2015.0,Role-Playing,Namco Bandai Games,0.00,0.01,0.09,0.00,0.10
550,4981,Triple Play 97,PS,1996.0,Sports,Electronic Arts Victor,0.21,0.15,0.00,0.03,0.38
551,1157,Dragon Quest V: Hand of the Heavenly Bride,DS,2008.0,Role-Playing,Square Enix,0.19,0.02,1.36,0.02,1.60
552,10192,Tales of Phantasia (PS1 & PSP Versions),PSP,2006.0,Role-Playing,Namco Bandai Games,0.00,0.00,0.11,0.00,0.11

In [13]:
df = df.drop(columns=['JP_Sales','NA_Sales','EU_Sales'])

In [14]:
df

,Rank,Name,Platform,Year,Genre,Publisher,Other_Sales,Global_Sales
0,13292,E.X. Troopers,PS3,2012.0,Shooter,Capcom,0.00,0.05
1,15041,Steins;Gate: Senkei Kousoku no Phonogram,X360,2013.0,Adventure,5pb,0.00,0.02
2,15717,This War of Mine,PS4,2016.0,Action,Deep Silver,0.00,0.02
3,14047,Kiniro no Corda 2 f,PSP,2009.0,Role-Playing,Tecmo Koei,0.00,0.04
4,5127,Turok: Rage Wars,N64,1999.0,Shooter,Acclaim Entertainment,0.00,0.37
...,...,...,...,...,...,...,...,...
548,12286,My Pet Chimp,DS,2010.0,Simulation,505 Games,0.00,0.06
549,10521,God Eater 2: Rage Burst,PS4,2015.0,Role-Playing,Namco Bandai Games,0.00,0.10
550,4981,Triple Play 97,PS,1996.0,Sports,Electronic Arts Victor,0.03,0.38
551,1157,Dragon Quest V: Hand of the Heavenly Bride,DS,2008.0,Role-Playing,Square Enix,0.02,1.60
552,10192,Tales of Phantasia (PS1 & PSP Versions),PSP,2006.0,Role-Playing,Namco Bandai Games,0.00,0.11

## Замена значений
Теперь я заменю значений 0.00 в признаке Other_Sales на 1.00. Для этого нужно использовать `df.replace({НАЗВАНИЕ ПЕРЕМЕННОЙ : ЧТО_ЗАМЕНЯЕМ}, на что заменяем)`

In [15]:
df = df.replace({"Other_Sales": 0.00}, 1.00)
df

,Rank,Name,Platform,Year,Genre,Publisher,Other_Sales,Global_Sales
0,13292,E.X. Troopers,PS3,2012.0,Shooter,Capcom,1.00,0.05
1,15041,Steins;Gate: Senkei Kousoku no Phonogram,X360,2013.0,Adventure,5pb,1.00,0.02
2,15717,This War of Mine,PS4,2016.0,Action,Deep Silver,1.00,0.02
3,14047,Kiniro no Corda 2 f,PSP,2009.0,Role-Playing,Tecmo Koei,1.00,0.04
4,5127,Turok: Rage Wars,N64,1999.0,Shooter,Acclaim Entertainment,1.00,0.37
...,...,...,...,...,...,...,...,...
548,12286,My Pet Chimp,DS,2010.0,Simulation,505 Games,1.00,0.06
549,10521,God Eater 2: Rage Burst,PS4,2015.0,Role-Playing,Namco Bandai Games,1.00,0.10
550,4981,Triple Play 97,PS,1996.0,Sports,Electronic Arts Victor,0.03,0.38
551,1157,Dragon Quest V: Hand of the Heavenly Bride,DS,2008.0,Role-Playing,Square Enix,0.02,1.60
552,10192,Tales of Phantasia (PS1 & PSP Versions),PSP,2006.0,Role-Playing,Namco Bandai Games,1.00,0.11

## Простой подстановщик
Теперь, я найду переменные в которых есть пустые значения коммандой `df.isnull().mean() * 100` а после использую простой подстановщик, чтобы заменить пустоту используя `SimpleImputer`.

In [16]:
df.isnull().mean() * 100

Rank            0.000000
Name            0.000000
Platform        0.000000
Year            2.029520
Genre           0.000000
Publisher       0.738007
Other_Sales     0.000000
Global_Sales    0.000000
dtype: float64

In [24]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer()

df['Year'] = imputer.fit_transform(df['Year'].values.reshape(-1,1))[:,0]

df.isnull().mean() * 100

Rank            0.000000
Name            0.000000
Platform        0.000000
Year            0.000000
Genre           0.000000
Publisher       0.738007
Other_Sales     0.000000
Global_Sales    0.000000
dtype: float64

Переменная Publisher не является int,double и т.п. По-этому использую `Replace`

In [25]:
df = df.replace({"Publisher": np.nan}, "Not geted it")
df.isnull().mean() * 100

Rank            0.0
Name            0.0
Platform        0.0
Year            0.0
Genre           0.0
Publisher       0.0
Other_Sales     0.0
Global_Sales    0.0
dtype: float64

## В качестве целевой переменной я выбираю переменную YEAR
Я выбрал переменную Year т.к она является главной переменной в данной таблице и определяет многое. Эта таблица явна является анализом рынков разных времён, а дата т.е год в данном случае является __КЛЮЧЕВЫМ__ элементов

## Вывод
В ходе данной практической работе были получены навыки работы на языке python с dataset. Обработка информации, вывод информации, анализ информации.

## Сохранение файла
Теперь по итогу данной практической работы, я сохраню новые данные в новый файл после изменений.

In [26]:
df.to_csv("vgsales_11_Edited.csv",index=False)